#nav {
    margin-bottom:15px !important;
    font-size: 12pt !important;
}

#content {
    margin-left:0px !important;
    margin-bottom:0px !important;
}

.bookends {
    display: none !important;
}

#user_thumbs {
    margin:0px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width:280px !important;
}

#user_likes {
    margin:0px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width:280px !important;
}

.instagram_thumb {
    display: block !important;
    margin:0 !important;
    margin-bottom:15px !important;
}

.instagram_thumb_caption {
    font-size: 12pt !important;
    text-align:center;
}

.instagram_thumb img {
    max-width: 275px !important;
    max-height: 275px !important;
}

.instagram_photo {
    float: none;
}

.instagram_photo img {
    max-width: 275px !important;
    max-height: 275px !important;
}

#pag_middle {
    display:none;
}

#footer {
    margin-bottom: 50px;
}

.youare_preamble {
    display: none;
}